{% load i18n %}

<h1>{% trans "Token" %}: <i>{{ object.name }}</i></h1>
<ul>
  <li>
    <a href="#"
       hx-get="{% url 'django_opalstack:server_list' pk=object.id %}"
       hx-target="#opal-inner">
      {% trans "Web server list" %}
    </a>
  </li>
  <li>
    <a href="#"
       hx-get="{% url 'django_opalstack:user_list' pk=object.id %}"
       hx-target="#opal-inner">
      {% trans "Os Users list" %}
    </a>
  </li>
  <li>
    <a href="/admin/django_opalstack/token/{{ object.id }}/change/">
      {% trans "Modify Token" %}
    </a>
  </li>
  <li>
    <a href="#"
       hx-get="{% url 'django_opalstack:token_list' %}"
       hx-target="#opal-content"
       hx-push-url="true">
      {% trans "Back to token list" %}
    </a>
  </li>
</ul>
<div id="opal-inner">
</div>
